/*home page*/
#home-page-hero {
    margin: 70px 0px 0px 20px;
    /*font-family: "Satellite";*/
    color: #303030;
    letter-spacing: 4.28px;
    height: 60px;
    padding: 0;
    font-weight: bold;
}

#home-page-qns {
    padding: 10px 25px;
    font-size: 25px;
    /*font-family: 'Satellite', sans-serif;*/
    color: #303030;
    letter-spacing: 1.5px;
}

#home-page-input {
    border-radius: 5px;
    width: 495px;
    height: 40px;
    background-color: white;
    font-size: 35px;
    text-align: left;
    color: #303030;
    border: none;
    outline: none;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;

}

.home-page-suggested {
    height: 100px;
}

.home-page-suggest-img {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    background-color: #303030;
    margin: 15px;
    border: none;
    cursor: pointer;
}

.home-page-suggest-img:hover, .voter-img:hover {
    opacity: 0.8;
}

@keyframes type {
    from {
        width: 0;
    }
}

.nav-tabs > li > a {

    border: none;
}

#friendlist-title {
    outline: none;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    color: #303030;
    font-size: 50px;
}

.friendlist-box {
    width: 450px;
    height: 300px;
    background-color: white;
    margin: 20px auto;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*.friendlist-box-shadow{
  width:10px;
  height:300px;
  margin-top: 20px;
  background-color: #303030;

}*/

.friendlist-friend, .friendlist-invite {
    height: 120px;
    width: 120px;
    cursor: pointer;
}

/*.friendlist-friend:hover, .friendlist-invite:hover {
    opacity: 0.3;
    background: #303030;

}*/

span.friendlist-friendname {
    background: transparent;
    color: white;
    cursor: pointer;
    display: table;
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.friendlist-friendname span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.friendlist-friend:hover span.friendlist-friendname span {
    opacity: 1;
}

.profile {

    text-align: center;
}

.profile-name {
    font-size: 30px;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #303030;

}

.profile-pic {
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
    margin: 25px auto 55px;
}

.profile-selectbar {
    font-size: 0;
    width: 370px;
    height: 90px;
    margin: auto;
    border-radius: 10px;
    background-color: #FFFF99;
}

#btnSubmit {
    height: 100%;
    width: 30%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.profile-add-tag-input {
    width: 70%;
    height: 100%;
    font-size: 20px;
}

#profile-view-manage-btn, #manage-to-view-btn, #public-join-btn {
    width: 200px;
    height: 35px;
    background-color: #303030;
    border-radius: 5px;
    font-size: 15px;
    color: #fae066;
    outline: none;
    border: none;
    text-align: center;
    margin-top: 10px;
    max-width: 100%;
}

#manage-to-view-btn {
    width: 180px;
    margin-top: 10px;
}

.tagrank-input {
    height: 55px;
    margin: 20px auto 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: #303030;
    font-weight: bold;
}

.tagrank-chart {
    overflow-y: auto;
    overflow-x: hidden;
    width: 490px;
    height: 300px;

}

.tagchart-table {
    height: auto;
    background-color: white;

}

/*.chart-scrollbar {
    width: 10px;
    height: 300px;
    margin-left: 490px;
    background-color: gray;

}*/

.tagrank-set {

    height: 40px;
    margin-left: 0px;
    margin-right: 0px;

}

.tagrank-ranknum {
    font-size: 20px;
    color: #303030;
    float: left;
    margin: 10px;
}

.tagrank-img {
    width: 30px;
    height: 30px;
    background-color: gray;
    float: left;
    margin: 5px;

}

.tagrank-upvote-circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #303030;
    color: white;
    font-size: 12px;
    float: right;
    margin: 10px 15px;
    text-align: center;
}

.tagrank-upvote-num {
    margin: 12px 0;
}

.tagrank {
    margin: 0;
    height: auto;
}

#tag-cloud {
    top: 40px;
    position: absolute;
    padding: 5px;
}

.tag-cloud-tag {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border: #fff 2px solid;
    margin: 5px;
    /*box-shadow: 0 0 2px 2px #fff;*/

    -webkit-animation-name: scalex;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes scalex {
    from {
        -webkit-transform: scale(0.9);
    }
    65% {
        -webkit-transform: scale(1.0);
    }
    to {
        -webkit-transform: scale(0.9);
    }
}

@-moz-keyframes scale {
    from {
        -moz-transform: scale(0.9);
    }
    65% {
        -moz-transform: scale(1.0);
    }
    to {
        -moz-transform: scale(0.9);
    }
}

.tag-cloud-tag:hover {
    background-color: rgba(0, 0, 0, 0.8);

}

/*my tag manage*/

.profile-taglist-img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 25px; /*orginal 35px*/
    border: 5px solid #fff;
}

.profile-taglist {

    height: 180px; /*orginal 200px*/
    background-color: #fae066;
    overflow-x: hidden;
    overflow-y: auto;
    /*  border-right: 10px solid  #ddd ;*/
}

.profile-taglist-table {
    border-bottom: 1px solid #fae066;
    background-color: white;
    margin-bottom: 0px;
}

.my-tag-set {
    border-bottom: 1px dotted #fae066;
}

/* th : background setting for the detele button cell*/
.th-detele-btn {
    width: 5.33333333%;
    background-color: #fae066;
    text-align: center;
}

.mytaglist-delete-btn {
    font-size: 15px;
    color: #303030;
    font-weight: bold;
    float: left;
    border: none;
    outline: none;
    text-align: center;
    margin: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.th-upvote-num {
    padding-left: 10px;
    height: 36px;
}

.mytag-upvote-circle {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: #303030;
    vertical-align: middle;
    margin: 5px;
    padding: 2px 0;
}

.mytag-upvote-num {
    font-size: 15px; /*need to resize*/
    color: #fae066;
    text-align: center;
    margin: auto;
}

.taglist-th-tn {
    border-right: 1px dotted #fae066;
    max-width: 0;
}

.mytag-tagname-font {
    font-size: 15px;
    color: #303030;
    margin-bottom: 0px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.th-mytag-img {
    padding-right: 10px;

}

.mytag-img {
    margin: 3px;
    width: 25px;
    height: 25px;
    background-color: #303030;
    float: right;
    border-radius: 20px;
    border: none;
}

.voter-img {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.th-mytag-viewmore {
    width: 3%;
}

.span-viewmore {
    font-size: 15px;
    margin: 5px;
}

.th-mytag-viewmore:hover {
    cursor: pointer;
    opacity: 0.4;
}

.upvoteList-dialog {
    padding-top: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dialog-set {
    border-bottom: 1px dotted #fae066;
    cursor: pointer;
}

.dialog-title {
    color: #fae066;
    overflow: hidden;
    font-size: 15px;
    margin-bottom: 0px;
}

.dialog-img {
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 20px;
}

.dialog-name {
    font-size: 15px;
    color: #303030;
    vertical-align: middle;
    padding-left: 10px;
    margin-bottom: 0px;
    overflow: hidden;
}

.bootstrap-dialog {
    overflow-y: auto;
    overflow-x: hidden;
}

.bootstrap-dialog-title {
    color: #fae066;
}

.modal-dialog {
    vertical-align: middle;
}

.modal-header {
    background-color: #303030;
}

.fa-trash-o:hover {
    color: #FF0000;
}

.manage-to-view-btn {
    margin-top: 15px;
    width: 200px;
    height: 35px;
    background-color: #303030;
    border-radius: 5px;
    font-size: 15px;
    color: #fae066;
    outline: none;
    border: none;
}

.tagsinput {
    display: inline-block;
    border-radius: 10px 0 0 10px;
}

.hover_friendname {
    display: none;
}

.profile-selectbar > .select2-container {
    /*border-radius: 10px 0 0 10px;*/
    width: 70%;
    height: 100%;
    overflow-x: hidden;
    font-size: 20px;
}

.select2-selection {
    border: 0 !important;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.select2-selection {
    border: 0 !important;
}

#manage-photo {
    height: 160px;
}

.tab {
    background-color: #dddddd;
    display: inline-block;
    height: 20px;
    width: 80px;
    float: left;
}

#shareMyCloudBtn:hover {
    cursor: pointer;
    opacity: 0.5;
}

#tab-placeholder {
    height: 20px;
    width: 5%;
    padding: 0;
}

.tag-created-time {
    text-align: center;
}

.tab-selected {
    background-color: #303030;
    color: white;
}

#shareMyCloudBtn {
    width: 50px;
    height: 30px;

}

#taglist-tab {
    height: 20px;
    margin-left: 5.33333333%;
    border: 0px;
}

#taglist-tab a {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    color: #303030;
    border-radius: 0;
}

#tab-votes {
    cursor: pointer;
    border: 0px;
    text-align: center;
    width: 80px;
    background-color: #fff;

}

#tab-time {
    cursor: pointer;
    border: 0px;
    text-align: center;
    width: 80px;
    background-color: #fff;

}

#likeFriendCloudBtn {
    cursor: pointer;
}

.likeFriendCloudBtn-normal {
    color: white;
}

.likeFriendCloudBtn-normal:hover {
    color: red;
    opacity: 0.5;
}

.likeFriendCloudBtn-liked {
    color: red;
}

.lifeFriendCloudBtn-liked:hover {
    color: #303030;
}

.tctooltip {
    background: #303030;
    color: white;
    font-size: 15px;
    padding: 2px 5px;
    border-radius: 5px;
    opacity: 0.9;
}

.wrapper {
    width: 120px;
    height: 120px;
    margin: 10px;
    text-align: center;
}

.wrapper .friendlist-friendname {
    visibility: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    bottom: 50px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.wrapper:hover > img {
    /*background-color: white;*/
    filter: blur(3px) opacity(0.7);
    -webkit-filter: blur(3px) opacity(0.7);
    transition: filter 300ms;
    -webkit-transition: -webkit-filter 300ms;
}

.wrapper:hover .friendlist-friendname {
    visibility: visible;
}

.settings-img {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top:40px;
}

.settings {
    color: #303030;
    background-color: white;
    text-align: left;
    height: 75px;

}

.settings h4, h6 {
    margin-left: 5px;
}

.setting-header {
    font-size: 50px;
    text-align: center;
}

#setting-option {
    text-align: center;
    height: 75px;
    padding: 25px;
    padding-right: 10px;
    vertical-align: middle;

}

.setting-description {
    height: 75px;
}


