.background-login {
background-image: url("../images/loginpage.jpg");
background-repeat: no-repeat;
max-width:760px;
max-height: 560px;
background-size:760px 560px;
/*background-attachment: fixed;*/
}

.fb-login-btn {
    width: 150px;
    height: 50px;
    background-color: #3b5998;
    font-family: 'Satellite', sans-serif;
    font-size: 30px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    padding-top: 5px;
    margin-top: 255px;
    margin-left: 325px;
    opacity: 1;
}

.fb-login-btn:hover {
  opacity: 0.75;
}