input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

/* Firefox 18- */
input:focus::-moz-placeholder {
    color: transparent;
}

/* Firefox 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

/* oldIE ;) */

input {
    border: none;
}

.no-padding {
    padding: 0;
}

.overall {
    max-width: 760px;
    max-height: 560px;
}

.row {
    margin: 0;
}

.row-nonshare {
    background-color: #F7CA18;
    height: 520px;
}

.row-share {
    background-color: #F7CA18; /**/
    height: 40px;
    text-align: right;
}

#body-left {
    text-align: center;
}

#body-right {
    text-align: right;
}

#logo-container {
    display: inline-block;
    margin: 20px;
    height: 60px;
    width: 60px;
}

#logo {
    border-radius: 50px;
    padding: 0;
}

.input-search {
    height: 100px;
    text-align: right;
}

.searchbar {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

#search-bar-container {
    display: inline-block;
    vertical-align: bottom;
    margin: 30px 0 30px 0;
}

.icon-btn {
    width: 60px;
    height: 60px;
}

#menu {
    display: inline-block;
    width: 60px;
    margin: 20px 10px;
    max-width: 100%;
}

#menu-items {
    display: none;
}

.fb-btn-container {
    padding: 5px;
    display: inline-block;
}

.fb-btn {
    background-color: #3b5998;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 0;
}

.fb-share-btn {
    width: 70px;
}

.fb-like-btn {
    display: inline-block;
    width: 70px;
}

.content-area {
    width: 100%;
    height: 420px;
    text-align: center;
    margin: 0px;
}

.view {
    width: 100%;
    height: 100%;
}

/*home page*/
#home-page-hero {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 70px;
    margin-bottom: 20px;
    font-family: 'Satellite', sans-serif;
    color: #303030;
    /*letter-spacing: 4.28px;*/
    font-size: 60px;
    letter-spacing: 4.28px;
    padding: none;
}

#home-page-qns {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 30px;
    font-family: 'Satellite', sans-serif;
    color: #303030;
    letter-spacing: 2.14px;
}

#home-page-input {
    border-radius: 5px;
    width: 495px;
    height: 50px;
    background-color: white;
    font-size: 35px;
    text-align: left;
    color: #303030;
    border: none;
    outline: none;
    padding: 10px;
    padding: none;
}

.tt-menu {
    width: 200px;
}