input {
    border: none;
}

.no-padding {
    padding: 0;
}

.overall {
    max-width: 760px;
    max-height: 560px;
}

.row {
    margin: 0;
}

.row-nonshare {
    background-color: #F7CA18;
    height: 520px;
}

.row-share {
    background-color: #F7CA18; /**/
    height: 40px;
    text-align: right;
}

#body-left {
    text-align: center;
}

#body-right {
    text-align: right;
}

#logo-container {
    display: inline-block;
    margin: 5px;
    max-width: 100%;
    width: 60px;
    height: 60px;
}

#logo {
    max-width: 100%;
    border-radius: 50px;
    padding: 0;
}

.input-search {
    height: 60px;
    text-align: right;
}

.searchbar {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

#search-bar-container {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 10px;
}

.icon-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 5px;f
}

#icon-top {
    margin-top: 0;
}

#menu {
    display: inline-block;
    max-width: 60px;
}

#menu-items {
    display: none;
}

.fb-btn {
    background-color: #3b5998;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #FFFFFF;
}

.fb-share-btn {
    width: 70px;
    margin-right: 20px;
}

.fb-like-btn {
    width: 60px;
    margin-right: 5px;
}

.content-area {
    width: 100%;
    height: 440px;
    text-align: center;
    margin: 0px;
}

/*home page*/
.home-page-hero {
    margin: 70px 10px 20px 10px;
    font-family: "Satellite";
    color: #303030;
    /*letter-spacing: 4.28px;*/
    font-size: 60px;
    padding: 0;
}

.home-page-qns {
    margin: 20px 40px 25px 40px;
    font-size: 30px;
    color: #303030;
}
