/*home page*/
#home-page-hero {
    margin: 70px 0px 0px 20px;
    /*font-family: "Satellite";*/
    color: #303030;
    letter-spacing: 4.28px;
    height: 80px;
    padding: 0;
    font-weight: bold;
}

#home-page-qns {
    padding: 10px 25px;
    font-size: 25px;
    /*font-family: 'Satellite', sans-serif;*/
    color: #303030;
    letter-spacing: 1.5px;
}

#home-page-input {
    border-radius: 5px;
    width: 495px;
    height: 50px;
    background-color: white;
    font-size: 35px;
    text-align: left;
    color: #303030;
    border: none;
    outline: none;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;

}

.home-page-suggested {
    height: 100px;
}

.home-page-suggest-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #303030;
    margin: 25px;
    border: none;
    cursor: pointer;
}

.home-page-suggest-img:hover {
    opacity: 0.8;
}

#home-page-input::placeholder {
    font-size: 30px;

    -webkit-animation: type 4 steps(50, end) 1;
    -moz-animation: type 4 steps(50, end) 1;
    animation: type 4 steps(50, end) 1;

}

@keyframes type {
    from {
        width: 0;
    }
}

.friendlist-input {
    outline: none;
    background-color: white;
    height: 55px;
    width: 350px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.friendlist-box {
    width: 450px;
    height: 280px;
    background-color: white;
    margin: 20px auto;
    padding: 10px;

}

/*.friendlist-box-shadow{
  width:10px;
  height:300px;
  margin-top: 20px;
  background-color: #303030;

}*/

.friendlist-friend {
    height: 120px;
    width: 120px;
    background-color: gray;
    margin: 10px;

}

.profile {

    text-align: center;
}

.profile-name {
    font-size: 30px;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #303030;

}

.profile-pic {
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
    margin: 25px auto 55px;
}

.profile-selectbar {
    width: 370px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
    background-color: #FFFF99;
    font-size: 0;
}

.bootstrap-tagsinput {
    height: 100%;
    width: 75%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: transparent;
}

.bootstrap-tagsinput input {
    width: 275px;
    position: absolute;
    left: 70px;
    bottom: 0;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 30px;
}

#btnSubmit {
    height: 100%;
    width: 25%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.profile-add-tag-input {
    width: 350px;
    height: 35px;
    /*text-align: center;*/
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
    border-radius: 10px;
    border-color: #FFFFFF;
    outline: none;
}

.profile-view-manage-btn {
    width: 150px;
    height: 35px;
    background-color: #303030;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    outline: none;
    border: none;
}

.tagrank-input {
    width: 350px;
    height: 55px;
    margin: 20px auto 30px;
    border-radius: 10px;
    background-color: white;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #303030;
}

.tagrank-chart {
    overflow-y: auto;
    width: 490px;
    height: 300px;
    
}

.tagchart-table {
    height: auto;
   
}

/*.chart-scrollbar {
    width: 10px;
    height: 300px;
    margin-left: 490px;
    background-color: gray;

}*/

.tagrank-set {

    height: 40px;
    margin-left: 0px;
    margin-right: 0px;

}

.tagrank-ranknum {
    font-size: 20px;
    color: #303030;
    float: left;
    margin: 10px;
}

.tagrank-img {
    width: 30px;
    height: 30px;
    background-color: gray;
    float: left;
    margin: 5px;

}

.tagrank-upvote-circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #303030;
    color: white;
    font-size: 12px;
    float: right;
    margin: 10px 15px;
    text-align: center;
    vertical-align: center;
}

.tagrank-upvote-num {
    text-align: center;
}

.tagrank {
    margin: 0px;
}

#tag-cloud {
    top: 40px;
    position: absolute;
    padding: 5px;
}

.tag-cloud-tag {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border: #fff 2px solid;
    margin: 5px;
    /*box-shadow: 0 0 2px 2px #fff;*/

    -webkit-animation-name: scalex;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes scalex {
    from {
        -webkit-transform: scale(0.9);
    }
    65% {
        -webkit-transform: scale(1.0);
    }
    to {
        -webkit-transform: scale(0.9);
    }
}

@-moz-keyframes scale {
    from {
        -moz-transform: scale(0.9);
    }
    65% {
        -moz-transform: scale(1.0);
    }
    to {
        -moz-transform: scale(0.9);
    }
}

.tag-cloud-tag:hover {
    background-color: rgba(0, 0, 0, 0.8);

}


/*my tag manage*/

.profile-taglist-img {
    width: 150px;
    height: 150px;
    border-radius:100px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 35px;
}

.profile-taglist {
    width: 500px;
    height: 220px;
    background-color: #f7ca18;
    color: white;
    overflow-y: scroll;
  /*  border-right: 10px solid  #ddd ;*/
}



.profile-taglist-table {
    width: 500px;
    height: auto;
    border-bottom: 1px solid #f7ca18;
   
}

.my-tag-set {
    width: 500px;
    border-bottom: 1px dotted #f7ca18;
}

/* th : background setting for the detele button cell*/
.th-detele-btn{
width: 5%;
background-color:#f7ca18;
text-align: center;
}

.mytaglist-delete-btn {
    
    font-size: 30px;
    color: #303030;
    font-weight: bold;
    float: left;
    border: none;
    outline: none;
    text-align: center;
    margin:auto;
    margin:5px;
    vertical-align: middle;;
}


.th-upvote-num{
    padding-left:10px;
    
}

.mytag-upvote-circle {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: #303030;
    vertical-align: middle;
    margin:5px;
}

.mytag-upvote-num {
    font-size: 15px; /*need to resize*/
    color: #f7ca18;
    text-align: center;
    margin: auto;
}

.taglist-th-tn {
    width: 250px;
    border-right: 1px dotted #f7ca18;  
}

.mytag-tagname-font {
    font-size: 15px;
    color: #303030;
    margin-bottom:0px; 
    
}


.th-mytag-img{
padding-right: 10px;

}
.mytag-img {
    margin:5px;
    width: 25px;
    height: 25px;
    background-color: #303030;
    float: right;  
}

.voter-img {
    max-height: 25px;
    max-width: 25px;
}

.th-mytag-viewmore{
width: 3%;
}

.img-viewmore{
width:10px;
height: 10px;
cursor: pointer;
}

.img-viewmore:hover{
    opacity: 0.4;
    color: white;
}
.th-mytag-scroll{
width: 3%;
}



