<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
    <!-- Meta content -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- These are Open Graph tags.-->
    <meta property="fb:app_id" content="{{ app_id }}"/>

    <title>{{ app_name }}</title>

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/template.css">

    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/javascript/ajax.js"></script>
    <script src="/static/javascript/animation.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

    <script>
        $(function () {
            $('#search-bar').typeahead({highlight: true},
                    {
                        name: 'friends',
                        source: function (query, process) {
                            return $.get('/api/search_friends', {keyword: query}, function (data) {
                                return process(data.response);
                            });
                        },
                        templates: {
                            header: '<h3>Friends</h3>',
                            suggestion: function (friend) {
                                return '<p>' + friend.name + '</p>';
                            }
                        }
                    },
                    {
                        name: 'friends',
                        source: function (query, process) {
                            return $.get('/api/search_tags', {keyword: query}, function (data) {
                                return process(data.response);
                            });
                        },
                        templates: {
                            header: '<h3>Tags</h3>'
                        }
                    });
        });
    </script>

</head>

<body class="overall">
<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{{ app_id }}',
            status: true,
            cookie: true,
            xfbml: true
        });

        FB.Event.subscribe('auth.login', function (response) {
            window.location = window.location;
        });
    };

    // Load the SDK Asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- share button 以外的部分(行) -->
<div class="row row-nonshare">
    <!-- logo left -->
    <div class="col-xs-2 col-sm-2 col-md-2 no-padding" id="body-left">
        <div id="logo-container">
            <img id="logo" src="/static/images/tagicon.png" alter="app logo">
        </div>
    </div>
    <!-- end logo left -->

    <!-- main area -->
    <div class="col-xs-8 col-sm-8 col-md-8 no-padding" id="body-middle">
        <!-- search bar top  -->
        <div class="row col-sm-12 input-search no-padding">
            <div id="search-bar-container">
                <input class="searchbar typeahead" id="search-bar" placeholder="@friends/#tag"/>
            </div>
        </div>

        <!-- dynamic change area -->
        <div class="row col-sm-12 content-area no-padding">
            {% block content %} {% endblock %}
            <!-- dynamic below -->
            <!-- home page -->
            <!-- <div class = "row home-page-hero">Hi, Namity Name.</div>
            <div class = "row home-page-qns">Who would you like to tag today?</div>
            <input class = "row home-page-input"></div> -->
            <!-- 请无视这里  -->
        </div>
    </div>
    <!-- end main area -->

    <!-- icons right -->
    <div class="col-xs-2 col-sm-2 col-md-2 sidebar no-padding" id="body-right">
        <div id="menu">
            <div class="icon-btn" id="icon-top"><img src="/static/images/iconmenu.jpg" alter="menu"></div>
            <div id="menu-items">
                <div class="icon-btn"><img src="/static/images/iconhouse.jpg" alter="house"></div>
                <div class="icon-btn"><img src="/static/images/iconme.jpg" alter="me"></div>
                <div class="icon-btn"><img src="/static/images/iconsettings.jpg" alter="settings"></div>
            </div>
        </div>
    </div>
    <!-- end sidebar -->
</div>
<!-- end share button exclude area -->

<!-- share button area -->
<div class="row row-share">
    <button class="fb-btn fb-like-btn">Like</button>
    <button class="fb-btn fb-share-btn">Share</button>
</div>
<!-- end share button area -->

<script>
    // document.getElementById('logout').onclick = function() {
    //     FB.logout(function(response) { });
    // };
</script>
</body>
</html>
