<!DOCTYPE html> 
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/static/javascript/ajax.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/view_tags.css">
<link rel="stylesheet" type = "text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->




</head> 

<body class = "overall">

<div class = "row" >	
	<div class = "col-md-10" >
         <div class="header" >
	     <div class = "col-md-3 logo" >
    <img src = "static/images/tagicon.jpg" alter = "app logo" > 
	</div>
	     <div class = "col-md-7 input-search">
          <form id="global-search-form">
            <input class="searchbar" placeholder="@friends/#tag">
            </input>
          </form>
	      </div>
	
       </div>

<div class="body" >
	<div class = "col-md-2"></div>
	
	<div class = "col-md-8">
		<div class = "row profile">
		<div class = "profilename" >{{ user.name }}</div>
	    </div>
        <div class = "row profile">
       	<img class = "profilepic" src = "https://graph.facebook.com/{{ user.id }}/picture?type=large" alter = "profile pic" >
        </div>

	</div>
	
	
</div>
</div>
<div class = "col-md-2 sidebar"> 
	<div class = "icon">
	<img src = "static/images/iconmenu.jpg" alter = "menu" >
	</div>
	<div class ="icon" >
          	<img src = "static/images/iconhouse.jpg" alter = "house" >
    </div>
     <div class ="icon" >
     <img src = "static/images/iconme.jpg" alter = "me" >
     </div>
     <div class ="icon" >
      <img src = "static/images/iconsettings.jpg" alter = "settings" >
      </div>

</div> 
</div>

<div class="row friendcarousel" >
    <div class = "selectbar">
		    
		 <div class = "row">
            <select class = "select-dropdown">
    			<option class ="option-box">You're a great ...</option>
    			<option class= "option-box">You're ... </option>
    			<option class= "option-box">You are a pro at ...</option>
    
  			</select>
  		</div>
  		<div class = "row">
              <input class = "input-description" id = "inputDescription"></input>
  		</div>
        <div class = "row">
                <div class = "suggestedDescription btn">cool</div>
                 <div class = " suggestedDescription btn">quirky</div>
                  <div class = " suggestedDescription btn">chill</div>
        </div>  

      </div>

        </div>
	
</div>

</body>
<html>


<script>

$('.suggestedDescription').onclick = function(){
	    
            $('#inputDescription').value = $('.suggestedDescription').value;

}

</script>