{% extends "base.html" %}
{% block content %}
    <div id="container">
<!-- logo -->
<div id="logo"><img src="https://projects.invisionapp.com/assets/4409732/4246812/B8E00A184ADD6983DD84EDB9EB0782D7036C110EB833DA0333B8B4A69D6F478E/preview?w=758"/></div>

<!-- icons -->
  <div id="boxes-container">
     <div class="box"><img src="https://projects.invisionapp.com/assets/4409732/4175954/A1A2CBCAC779E1450C40FE50AFC88BB0B05C75AF77621EC4C96A71CDE384EEA4/preview?w=758"/> </div>
     <div class="box"><img src="https://projects.invisionapp.com/assets/4409732/4175952/0CCB0278F760E4AB7EDE3BED9215609EBE076F3404990A0D966672D5347B60CD/preview?w=758"/></div>
     <div class="box" id="my-tags"><img src="https://projects.invisionapp.com/assets/4409732/4175953/A83EE86FD84966F151DA803061987F56A9A78D167FDCF9CDE42AA723D10CD6F5/preview?w=758"/></div>
     <div class="box"><img src="https://projects.invisionapp.com/assets/4409732/4175955/6FADA064604C38F200932318C92223CD55596D6B90B6A417627539DB7250053C/preview?w=758"/></div>
     <div class="box"><img src="https://projects.invisionapp.com/assets/4409732/4175986/D4863CAF7643B793CF7CE4A612B08E73AB13515C46FF75F94DA7CAEC10C89A2E/preview?w=758"/></div>
  </div>
   
<!-- searchbar -->
  <div id="searchbar-container">
    <input id="search-input" placeholder="Type and enter to search">
    </input>
  </div>
   
  <div id="wall">
    <div id="greeting"> Hi, {{ user.name }}. </div>
    <p>Friends: {{ friends }}<p>

    <!-- question -->
    <div id="question"> Who would you like to tag today? </div>

    <!-- randomize -->
    <button type="button" class="button1"> Go random! </button>

    <!-- share and like -->
    <button type="button" class="button2"> Share </button>
    <button type="button" class="button3"> Like </button>

    <div id="test-buttons">
      <button type="button" id="viewMyTags"> viewMyTags </button>
      <button type="button" id="viewMyFriends"> viewMyFriends </button>
      <button id="viewFriendTags" data-uid="977010685653665"> viewFriendTags </button>
      <form action="/" id="viewSearchFriends">
        <input placeholder="search friends"></input>
      </form>
      <form action="/" id="viewSearchTags">
        <input placeholder="search tags"></input>
      </form>
      <form action="/" id="viewSearchUserByTag">
        <input placeholder="search users by tag"></input>
      </form>
      <form action="/" id="apiAddTag" data-uid="977010685653665">
        <input placeholder="add tag"></input>
      </form>

      <button type="button" id="apiDeleteTag"> apiDeleteTag </button>
    </div>

  </div>
</div>

{% endblock %}
