<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
    <!-- Meta content -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- These are Open Graph tags.-->
    <meta property="fb:app_id" content="{{ app_id }}"/>

    <title>{{ app_name }}</title>

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login_style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body class="background-login">
<script type="text/javascript">
    
$(function(){
    $.getScript("https://connect.facebook.net/en_US/all.js", function() {
        FB.init({
            appId: '{{ app_id }}',
            status: true,
            cookie: true,
            xfbml: true
        });

        FB.Event.subscribe('auth.login', function (response) {
            window.location = window.location;
        });

        $('.fb-login-btn').click(function () {
            FB.login(function (response) {
            }, {scope: 'public_profile, email, user_friends'});
       });
    });
 });
</script>

<!-- share button 以外的部分(行) -->


            <button class="fb-login-btn" data-size='xlarge'>
                <img src = "static/images/fbloginlogo_official.png" class = "fb_img">
                Login
            </button>
        

<!-- end share button exclude area -->
</body>
</html>
