<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
    <!-- Meta content -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- These are Open Graph tags.-->
    <meta property="fb:app_id" content="{{ app_id }}"/>
    <meta property="og:description" content="Tag your friends!"/>

    <title>{{ app_name }}</title>

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login_style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
<script type="text/javascript">

    $(function () {
        $.getScript("https://connect.facebook.net/en_US/all.js", function () {
            FB.init({
                appId: '{{ app_id }}',
                status: true,
                cookie: true,
                xfbml: true
            });

            $('.fb-login-btn').click(function () {
                FB.login(function (response) {
                    window.location = window.location;
                }, {scope: 'public_profile, user_friends, publish_actions'});
            });
        });
    });

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-61576953-2', 'auto');
    ga('send', 'pageview');
</script>

<div class="background-login">
    <!-- share button 以外的部分(行) -->
    <button class="fb-login-btn" data-size='xlarge'>
        <img src="static/images/fbloginlogo_official.png" class="fb_img">
        Login Now
    </button>
</div>

<!-- end share button exclude area -->
</body>
</html>
