<html>
<head>
<link rel = "stylesheet" type = "text/css" href = "css/template_style.css">
</head>

<body>
 <div class = "row content-area">
        
            <!-- dynamic below -->
         <div class = "row tagrank">
            <img class = "profile-taglist-img" src = "asset/profilepic.jpg"></img>
         </div>
         <div class ="row tagrank">
              
          <div class = "profile-taglist">
           <table class="table profile-taglist-table">
            <tr class = "my-tag-set">
               <th class = "col-sm-1"><p class = "mytaglist-delete-btn">x</p></th>
               <th class = "col-sm-2"><div class = "mytag-upvote-circle"><p class = "mytag-upvote-num">30</div></th>
               <th class = "col-sm-5"><p class = "mytag-tagname">wahahahahahahahhahahh</p></th>
               <th class = "col-sm-4"><div class = "mytag-img"></div></th>
            </tr>
          </table>
        </div>

        </div>
            
</div>
</body>
</html>