<script>
    $(function () {
                var gradient = {
                    0: '#e74c3c',           // red
                    0.2: '#d2527f',
                    0.4: '#22a7f0',
                    0.6: '#1BBC9B',
                    0.8: '#16A085',        // orange
                    1: '#22313f' // black, but 90% transparent
                };

                $('#myCanvas').tagcanvas({
                    {% if on_view_me %}
                        dragControl: true,
                        dragThreshold: 4,
                    {% endif %}
                    activeCursor: "pointer",
                    textColour: null,
                    weight: true,
                    reverse: true,
                    fadeIn: 0.01,
                    shuffleTags: true,
                    depth: 0.8,
                    maxSpeed: 0.05,
                    zoomMin: 0.5,
                    weightMode: "both",
                    tooltip: "div",
                    tooltipClass: "tctooltip",
                    tooltipDelay: 0,
                    weightGradient: gradient,
                    weightSizeMax: 40,
                    weightSizeMin: 20,
                    weightFrom: "data-weight",
                    centreImage: "{{ user_image }}",
                    textFont: 'Josefin Sans, sans-serif',
                    bgOutline: null,
                    fadeIn: 20,
                    outlineColour: "rgba(253,227,167,0.7)",
                    outlineMethod: "block"
                }, 'tags');
            }
    );
</script>
