<p>Viewing {{ friend.name }}.</p>

<script>
    var word_array = [
        {% for key, value in tags.iteritems() %}
            {text: "{{ key }}", weight: {{ value }}, "class": "tag-cloud-tag"},
        {% endfor %}
    ];

    $(function () {
        $("#tag-cloud").jQCloud(word_array);
        $("#tag-cloud-tag").hover(function (e) {
            console.log('hover tag ' + e.target);
        }).click(function (e) {
            console.log('click tag ' + e.target);
        });
    })
</script>

<p>Tags: </p>
<div id="tag-cloud" style="width: 100%; height: 350px;"></div>
