<div id="view-index" class="view">
    <div class="row" id="home-page-hero"><span>Hi, {{ user.name }}!</span></div>
    <div class="row" id="home-page-qns">Choose a friend to tag today!</div>
    <!-- <input class="row" id="home-page-input"> -->
    <div class = "row home-page-suggested">
               <img class = "home-page-suggest-img"></img>
               <img class = "home-page-suggest-img"></img>
               <img class = "home-page-suggest-img"></img>
  
    </div>
</div>


<script>
$(function(){
     $('#home-page-hero').textfill();
});

</script>