<div id="view-me" class="view">
    <div class="row">        {% for tag in tags.items() %}
          {{   tag[0] }} weight {{ len(tag[1]) }}
        {% endfor %}</div>
    <div class="row">
        <div class="profile-name">{{ user.name }}</div>
    </div>

    <div class="row">
        <div id="tag-cloud" style="width: 100%; height: 200px;"></div>
        <img class="profile-pic" src="https://graph.facebook.com/{{ user.id }}/picture?type=large" alter="profile pic">
    </div>

    <div class="row">
        <button class="profile-view-randombtn">Go Random!</button>
    </div>
</div>

<script>
    var word_array = [
        {% for key, value in tags.items() %}
            {text: "{{ key }}", weight: 1, html: {"class": "tag-cloud-tag"}},
        {% endfor %}
    ];

    $(function () {
        $("#tag-cloud").jQCloud(word_array, {
            afterCloudRender: function () {
                $(".tag-cloud-tag").hover(function (e) {
                    console.log('hover tag ' + e.target);
                }).click(function (e) {
                    console.log('click tag ' + e.target);
                });
            }
        });
    })
</script>