<div id='manage-photo' class="row tagrank">
    <img class="profile-taglist-img" src="https://graph.facebook.com/{{ user.id }}/picture?type=large">
</div>
<div class="row tagrank">

    <ul class = "nav nav-tabs" id = "taglist-tab">
        <li role="presentaion" class = "active" id="tab-votes"><a href="#">Top</a></li>
        <li role="presentation"  class = "active" id="tab-time"><a href="#">Recent</a></li>

    </ul>
    <div class="profile-taglist">
<!-- {#        <div id="tab-placeholder" class="col-sm-1"></div>#}
{#        <div id="tab-votes" class="tab">By votes</div>#}
{#        <div id="tab-time" class="tab">By time</div>#} -->
    
        <table class="table profile-taglist-table">
            <tbody id="tag-votes-table">
            {% for tag in tags_order_by_votes %}
                <tr id="tag-set-{{ tag.name }}" class="my-tag-set">
                    <th class="col-sm-1 th-detele-btn">
                        <div class="mytaglist-delete-btn"><i class="fa fa-times"></i></div>
                    </th>
                    <th class="col-sm-1 th-upvote-num">
                        <div class="mytag-upvote-circle"><p class="mytag-upvote-num">{{ tag.votes }}</div>
                    </th>
                    <th class="col-sm-5 taglist-th-tn"><p class="mytag-tagname-font">{{ tag.name }}</p></th>
                    <th class="col-sm-4">
                        <!-- 循环照片。。。 -->
                        {% for tagger in tag_with_taggers[tag.name][0:5]|reverse %}
                            <div class="mytag-img th-mytag-img" data-uid="{{ tagger.id }}" title="{{ tagger.name }}">
                                <img class="voter-img" src="https://graph.facebook.com/{{ tagger.id }}/picture">
                            </div>
                        {% endfor %}
<!-- {#                                                <div class="mytag-img .th-mytag-img"></div>#} -->
                    </th>
                    <th class="col-sm-1 th-mytag-viewmore">
                        <span class="span-viewmore" data-name="{{ tag.name }}"><i
                                class="fa fa-caret-right"></i></span>
                    </th>
                    <th class="col-sm-1 th-mytag-scroll">
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!--     <div id="dialog" title="Basic dialog">
        <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
        </div> -->

</div>
<div class="row tagrank">
    <button id="manage-to-view-btn">Check out your tag cloud!</button>
</div>

<script>
    $(function () {
        var deleteButton = '<th class="col-sm-1 th-detele-btn">' +
                '<div class="mytaglist-delete-btn"><i class="fa fa-times"></i></div></th>';

        var scroll = '<th class="col-sm-1 th-mytag-scroll"></th>';

        function viewMore(name) {
            return '<th class="col-sm-1 th-mytag-viewmore">' + '<span class="span-viewmore" data-name="' + name +
                    '"><i class="fa fa-caret-right"></i></span></th>';
        }

        function numVotes(num, isVoteTable) {
            var circle = '<div class="mytag-upvote-circle">';
            return '<th class="col-sm-1 th-upvote-num">'+ (isVoteTable ? circle : '') +'<p class="mytag-upvote-num">' +
                    num + '</p></div></th>';
        }

        function tagName(name) {
            return '<th class="col-sm-5 taglist-th-tn"><p class="mytag-tagname-font">' + name + '</p></th>';
        }

        function createdTime(time) {
            return '<th class="col-sm-4 tag-created-time">' + time + '</th>';
        }

        var time_table = '<tbody id="tag-time-table">';
        {% for tag in tags_order_by_time %}
            time_table += '<tr class="my-tag-set">' + deleteButton + numVotes('', false) + tagName({{ tag.name|tojson|safe }}) +
                    createdTime({{ tag.created_time|tojson|safe }}) + viewMore({{ tag.name|tojson|safe }}) + scroll + '</tr>';
        {% endfor %}
        time_table += '</tbody>';

        var votes_table = '<tbody id="tag-votes-table">';
        var taggers;
        {% for tag in tags_order_by_votes %}
            taggers = '<th class="col-sm-4">';
            {% for tagger in tag_with_taggers[tag.name][0:5]|reverse %}
                taggers += '<div class="mytag-img th-mytag-img" data-uid="' + {{ tagger.id|tojson|safe }} +'" title="' +
                        {{ tagger.name|tojson|safe }} +'"><img class="voter-img" src="https://graph.facebook.com/' +
                        {{ tagger.id|tojson|safe }} +'/picture"></div>';
            {% endfor %}
            taggers += '</th>';
            votes_table += '<tr id="tag-set-{{ tag.name|tojson|safe }}" class="my-tag-set">' + deleteButton +
                    numVotes({{ tag.votes|tojson|safe }}, true) + tagName({{ tag.name|tojson|safe }}) +
                    taggers + viewMore({{ tag.name|tojson|safe }}) + scroll + '</tr>';
        {% endfor %}
        votes_table += '</tbody>';

        $('#manage-to-view-btn').click(function () {
            $(document).trigger("viewChanging", ["me", {}]);
        });

        $(".mytag-img").click(function () {
            $(document).trigger("viewChanging", ["friend", {'id': $(this).data('uid')}]);
        }).tooltip({placement: "bottom", container: "body"});


        $('.mytaglist-delete-btn').click(function () {
            var $row = $('#tag-set' + $(this).attr('data-name'));
            var tag = $row.find('.mytag-tagname-font').text();
            BootstrapDialog.confirm(
                    {
                        title: 'Detele',
                        type: 'none',
                        message: "<h4> Are you sure to delete " + tag + "? </h4>",
                        size: BootstrapDialog.SIZE_SMALL,
                        closable: true,
                        closeByBackdrop: true,
                        callback: function (result) {
                            if (result) {
                                deleteTag(tag, $row);
                            }
                        }

                    });
        });

        function deleteTag(tag, $row) {
            $.get('/api/delete_tag', {name: tag}, function (response) {
                if (response['succeed']) {
                    $.bootstrapGrowl("Successfully removed " + tag, {align: 'center', 'type': 'success'});
                    $row.remove();
                } else {
                    $.bootstrapGrowl("Oops, " + response['message'], {align: 'center', 'type': 'warning'});
                }
            });
        }

        var tagger_array = {{ tag_with_taggers|tojson }}
                $(document).on('click', '.span-viewmore', function() {
                    var tag = $(this).attr('data-name');
                    var taggers = tagger_array[tag];
                    var msg = '<table><tbody>';
                    $.each(taggers, function (index, tagger) {
                        msg += '<tr class="dialog-set"><td class="col-sm-2"><img class="dialog-img" ' +
                                'src="https://graph.facebook.com/' + tagger.id +
                                '/picture"></td><td class="col-sm-10"><p class="dialog-name">' + tagger.name +
                                '</p></td></tr>';
                    });
                    msg += '</tbody></table>';
                    BootstrapDialog.show({
                        title: '<p class = "dialog-title">' + taggers.length + ' people have upvoted ' + tag + ' </p>',
                        message: msg,
                        type: 'none',
                        closable: true,
                        closeByBackdrop: true,
                        size: BootstrapDialog.SIZE_SMALL,
                        cssClass: 'upvoteList-dialog'
                    });
                });
        
        $('#tab-time').click(function () {
            $('.profile-taglist-table').html(time_table);
            $(this).addClass('tab-selected');
            $('#tab-votes').removeClass('active');
        });
        $('#tab-votes').click(function () {
            $('.profile-taglist-table').html(votes_table);
            $(this).addClass('tab-selected');
            $('#tab-time').removeClass('active');
        });

{#        $('#tab-votes').trigger("click");#}
    });


</script>
