<script>
    $(function () {
        $('.tagrank-set').click(function () {
            $.get('/change_view/friend', {'id': $(this).data('uid')}, function (response) {
                $('#content-view').html(response);
            });
        });
    });
</script>

<div class="row tagrank">
    <input class="tagrank-input" placeholder="{{ tag }}"></input>
</div>
<div class="row tagrank">
    <div class="tagrank-chart">
        {% for taggee in taggees|sort(attribute='count') %}
            <div class="row tagrank-set" data-uid="{{ taggee.id }}">
                <div class="col-sm-1"><p class="tagrank-ranknum">{{ loop.index }}</p></div>
                <div class="col-sm-2"><img class="tagrank-img" src="https://graph.facebook.com/{{ taggee.id }}/picture"></div>
                <div class="col-sm-9">
                    {{ taggee.name }}
                    <div class="tagrank-upvote-circle"><p class="tagrank-upvote-num">{{ taggee.count }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
