<div id="view-friend" class="view">
    <div class="row">
        <div class="profile-name">{{ friend.name }}</div>
    </div>

    <div class="row">
        <canvas width="490" height="270" id="myCanvas">
            <div id="tags">
                <ul>
                    {% for key, value in tags.items() %}
                        <li><a href="#" data-weight="{{ value[0] }}" style="font-weight:bold;"
                               class="tag-cloud-tag {% if value[1] %}tagged{% endif %}">{{ key }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </canvas>
    </div>

    <div class="row">
        <div class="profile-selectbar">
            <input class="profile-add-tag-input" id="inputDescription" placeholder="Add more tag..."/>
            <button type="button" class="btn btn-warning" id="btnSubmit">Submit</button>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".tag-cloud-tag").each(function (index, value) {
            $(this).attr('data-name', $(this).text());
        }).dblclick(function (e) {
            $(document).trigger("viewChanging", ["tag", {'name': $(this).text() }]);
        });

        $(".tag-cloud-tag:not(.tagged)").click(function (e) {
            $('#inputDescription').addTag($(this).text());
            //$('#inputDescription').tagsinput('focus')
        });
        $(".tag-cloud-tag.tagged").click(function (e) {
            $.bootstrapGrowl("You have already tagged " + $(this).text(), {align: 'center', 'type': 'warning'});
        });

        $('#inputDescription').tagsInput({maxChars: 32, delimiter: ['\n']});

        $('#btnSubmit').click(function () {
            var tags = JSON.stringify($('.profile-add-tag-input').val());
            console.log(tags);
{#            $.get('/api/add_tags', {taggee: "{{ friend.id }}", tags: tags}, function (response) {#}
{#                if (response['succeed']) {#}
{#                    if (response['response'].length < 1) {#}
{#                        $.bootstrapGrowl("Oops, you have tagged 'em all!", {align: 'center', 'type': 'warning'});#}
{#                        return;#}
{#                    }#}
{#                    $.bootstrapGrowl("Successfully tagged as " + response['response'].join(", "), {align: 'center', 'type': 'success'});#}
                    {#                    $.each(response['response'], function (index, value) {#}
                    {#                        var $tag = $("#tag-cloud").find('[data-name="' + value + '"]');#}
                    {#                        if ($tag.length > 0) {#}
                    {#                            var index = parseInt($tag.attr('id').split("_").pop());#}
                    {#                            $tag.addClass('tagged');#}
                    {#                            word_array[index]['weight']++;#}
                    {#                        } else {#}
                    {#                            word_array.push({text: value, weight: 1, html: {"class": "tag-cloud-tag tagged"}});#}
                    {#                        }#}
                    {#                    });#}
                    {#                    $('#tag-cloud').jQCloud('update', word_array);#}
{#                    $('#inputDescription').tagsinput('removeAll');#}
{#                } else {#}
{#                    $.bootstrapGrowl("Oops, " + response['message'], {align: 'center', 'type': 'warning'});#}
{#                }#}
{#            });#}
        });

        var allTags = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/search_tags?keyword=%QUERY',
                wildcard: '%QUERY',
                transform: function (response) {
                    return response['response']
                }
            }
        });

        //$('#inputDescription').typeahead({highlight: true}, {source: allTags});
    })
</script>

{% set uid = friend.id %}
{% include 'tag_cloud.html' %}
