<div id="view-me" class="view">
    <div class="row">
        <div class="profile-name">{{ user.name }} <i class="fa fa-camera-retro" id="shareMyCloudBtn"></i></div>
    </div>

    <div class="row" id="myCanvasContainer">
        <canvas width="490" height="300" id="myCanvas">
            <div id="tags">
                <ul>
                    {% for key, value in tags.items() %}
                        <li><a href="#" data-weight="{{ value|length }}" style="font-weight:bold;">{{ key }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </canvas>
    </div>

    <div class="row">
        <button id="profile-view-manage-btn">Manage My Tags</button>
    </div>
</div>

<script>
    $(function () {
        $("#profile-view-manage-btn").click(function () {
            $(document).trigger("viewChanging", ["manage", {}]);
        });
        $("#shareMyCloudBtn").click(function () {
            var canvas = document.getElementById('myCanvas');
            console.log('Start uploading...');
            $.post('/store_image/', {data: canvas.toDataURL('image/png')}, function (response) {
                console.log(response);
                alert(response);
            });
        });
    });
</script>

{% set uid = user.id %}
{% include 'tag_cloud.html' %}
