<div id="view-tag" class="view">
    <div class="row">
        <div>People tagged as {{ tag }}</div>
{#        <input class="friendlist-input" placeholder="Search Your Friends..."> </input>#}
    </div>
    <div class="row">
        <div class="friendlist-box">

            <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class = "friendlist-friend"></div>
                            <td>
                            <td>
                                <div class = "friendlist-friend"></div>
                            <td>
                            <td>
                                <div class = "friendlist-friend"></div>
                            <td>
                        </tr>
                        <tr>
                            <td>
                                <div class = "friendlist-friend"></div>
                            <td>
                            <td>
                                <div class = "friendlist-friend"></div>
                            <td>
                            <td>
                                <div class = "friendlist-friend"></div>
                            <td>
                </tr>
        </div>
    </div>
</div>