<div id="view-friends" class="view">
    <div class="row">
        {#        <input class="friendlist-input" placeholder="Search Your Friends..."> </input>#}
        <div id="friendlist-title">Friends List</div>
    </div>
    <div class="row">
        <div class="friendlist-box">
            <table>
                <tbody>
                {% for friend_row in friends|batch(3) %}

                    <tr>
                        {% for friend in friend_row %}
                            <td>
                                <img class="friendlist-friend"
                                        {% if friend.id == '0' %}
                                     src="/static/images/poo-head.png"
                                        {% else %}
                                     src="https://graph.facebook.com/{{ friend.id }}/picture?type=large"
                                        {% endif %}
                                     data-uid="{{ friend.id }}">
                            </td>
                        {% endfor %}
                        {% if friend_row|length < 3 %}
                        <td>
                            <img class = "friendlist-invite" src = "/static/images/plus.png">

                        </td>
                        {% endif %}

                    </tr>


                {% endfor %}
                {% if friends|length %3 == 0 %}
                    <tr>
                        <td>
                            <img class = "friendlist-invite" src = "/static/images/plus.png">

                        </td>
                    </tr>

                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.friendlist-friend').click(function () {
            var uid = $(this).attr('data-uid');
            $(document).trigger('viewChanging', ['friend', {id: uid}])
        });
    });

$(function () {
   $('.friendlist-invite').click(function () {
            FB.ui({method: 'apprequests',
                filters: ['app_non_users'],
                message: 'Come and join Taaag to tag your friends!'
            }, function (response) {
                $.bootstrapGrowl('Successfully invited ' + response.to.length.toString() + ' friends.');
            });
        });
      });
</script>

