<div id="view-me" class="view">
    <div class="row">
        <div class="profile-name">{{ user.name }}</div>
    </div>

    <div class="row" id="myCanvasContainer">
        <!-- <div id="tag-cloud" style="width: 100%; height: 250px;"></div> -->
        <!-- <img class="profile-pic" src="https://graph.facebook.com/{{ user.id }}/picture?type=large" alter="profile pic"> -->


        <!-- new -->
        <canvas width="490" height="300" id="myCanvas">
        <div id="tags">
         <ul>
        

         {% for key, value in tags.items() %}
        
         <li><a href="#" data-weight = "{{ value|length }}" style = "font-weight:bold;">{{ key }}</a></li>
         {% endfor %}
        
        </ul>
        </div>

        </canvas>

        
    
    </div>

    <div class="row">
        <button class="profile-view-manage-btn">Manage My Tags</button>
    </div>
</div>

<script>
    // var word_array = [
    //     {% for key, value in tags.items() %}
    //         {text: {{ key|tojson|safe }}, weight: {{ value|length }}, html: {"class": "tag-cloud-tag"}},
    //     {% endfor %}
    // ];

    // $(function () {
    //     $("#tag-cloud").jQCloud(word_array, {
    //         removeOverflowing: true,
    //         shape: 'rectangular',
    //         afterCloudRender: function () {
    //             $(".tag-cloud-tag").hover(function (e) {
    //                 console.log('hover tag ' + e.target);
    //             }).click(function (e) {
    //                 console.log('click tag ' + e.target);
    //             });
    //         }
    //     });
    //     $(".profile-view-manage-btn").click(function () {
    //         $(document).trigger("viewChanging", ["manage", {}]);
    //     });
    // })


    // new

      $(document).ready(function() {

        var gradient = {
        0:'#e74c3c',           // red
        0.2: '#d2527f', 
        0.4:'#22a7f0',
        0.6:'#1BBC9B',
        0.8:'#16A085',        // orange
        1:'#22313f' // black, but 90% transparent
        };

        if(!$('#myCanvas').tagcanvas({
          activeCursor:"pointer",
          textColour:null,
          weight:true,
          reverse: true,
          depth: 0.8,
          maxSpeed: 0.02,
          zoomMin:0.5,
          weightMode:"both",
          weightGradient:gradient,
          weightSizeMax:40,
          weightSizeMin:15,
          weightFrom:"data-weight",
          centreImage:"https://graph.facebook.com/{{ user.id }}/picture?type=normal",
          // dragControl:true,
          // dragThreshold:4,
          textFont:'Josefin Sans, sans-serif',
          bgOutline:null,
          fadeIn:20,
          outlineMethod:"none"

        },'tags')) {
          // something went wrong, hide the canvas container
          $('#myCanvasContainer').hide();
        }
      });
   

</script>