<div id="view-friend" class="view">
    <div class="row">
        <div class="profile-name">{{ friend.name }} <i
                class="fa fa-heart {{ 'likeFriendCloudBtn-liked' if liked else 'likeFriendCloudBtn-normal' }}"
                id="likeFriendCloudBtn"></i></div>
    </div>

    <div class="row">
        <canvas width="490" height="270" id="myCanvas">
            <div id="tags">
                <ul id="tag-list">
                    {% for key, value in tags.items() %}
                        <li>
                            <a href="#" data-weight="{{ value[0] }}" style="font-weight:bold;"
                               class="tag-cloud-tag {% if value[1] %}tagged{% endif %}"
                               title="{% if value[1] %}You{% if value[0]>1 %} and {{ value[0]-1 }} more{% endif %}{% else %}{{ value[0] }} people{% endif %} upvoted">{{ key }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </canvas>
    </div>

    <div class="row">
        <div class="profile-selectbar">
            <select class="profile-add-tag-input" id="inputDescription" multiple="multiple">
                {% for key, value in tags.items() %}
                    {% if not value[1] %}
                        <option>{{ key }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="button" class="btn btn-warning" id="btnSubmit">Submit</button>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".tag-cloud-tag").each(function (index, value) {
            $(this).attr('data-name', $(this).text());
        }).dblclick(function (e) {
            $(document).trigger("viewChanging", ["tag", {'name': $(this).text()}]);
        });

        $(document).on('click', ".tag-cloud-tag:not(.tagged)", function() {
            insertNewTag($(this).text());
        });

        $(document).on('click', ".tag-cloud-tag.tagged", function() {
            $.bootstrapGrowl("You have already tagged " + $(this).text(), {align: 'center', 'type': 'warning'});
        });

        function insertNewTag(text) {
            var tags = $('#inputDescription').val() || [];
            if (tags.indexOf(text) == -1) {
                tags.push(text);
                $('#inputDescription').val(tags).trigger("change");
            }
        }

        //$('#inputDescription').tagsInput({maxChars: 32, delimiter: ['☭'], width: "75%", height: "100%"});
        $('#inputDescription').select2({
            tags: true,
            ajax: {
                delay: 250,
                url: '/api/search_tags',
                data: function (params) {
                    var queryParameters = {
                        keyword: params.term
                    };
                    return queryParameters;
                },
                processResults: function (data) {
                    var results = {
                        results: data['response'].map(function (e, _) {
                            return {text: e, id: e};
                        })
                    };
                    return results;
                },
                cache: true
            },
            selectOnClose: true
        });

        $('#inputDescription').on("select2:selecting", function (e) {
            var tag = (e.params.args.data.text).toLowerCase().trim();
            if (tag.length > 32) {
                e.preventDefault();
                $.bootstrapGrowl(tag + " is too long", {
                    align: 'center',
                    'type': 'warning'
                });
            }
            var existing = $('a.tagged[data-name="' + tag + '"]');
            if (existing.length > 0) {
                e.preventDefault();
                $.bootstrapGrowl("You've already tagged this friend as " + tag, {
                    align: 'center',
                    'type': 'warning'
                });
            }
        });

        $('#btnSubmit').click(function () {
            var tags = $('#inputDescription').val() || [];
            $.get('/api/add_tags', {
                taggee: "{{ friend.id }}",
                tags: JSON.stringify(tags)
            }, function (response) {
                if (response['succeed']) {
                    if (response['response'].length < 1) {
                        $.bootstrapGrowl("Oops, you have tagged 'em all!", {
                            align: 'center',
                            'type': 'warning'
                        });
                        return;
                    }
                    $.bootstrapGrowl("Successfully tagged as " + response['response'].join(", "), {
                        align: 'center',
                        'type': 'success'
                    });

                    var idsToMove = [];

                    $.each(response['response'], function (index, value) {
                        var $tag = $("#tag-list").find('a[data-name="' + value + '"]');
                        var idToCreate = "tag-to-move-" + idsToMove.length.toString();
                        if ($tag.length > 0) {
                            $tag.attr('data-weight', (parseInt($tag.attr('data-weight')) + 1).toString());
                            $tag.attr('id', idToCreate);
                            $tag.addClass('tagged');
                        } else {
                            var tag = $('<div>').text(value).html();
                            var newList = '<li><a href="#" data-weight="1" style="font-weight:bold;" ' +
                                    'class="tag-cloud-tag tagged" data-name="' + tag + '" id="' + idToCreate + '">' +
                                    tag + '</a></li>';
                            $('#tag-list').append(newList);
                        }
                        idsToMove.push(idToCreate);
                    });

                    $('#myCanvas').tagcanvas("update");

                    function moveUpdatedTagToFront() {
                        var id = idsToMove.shift();
                        $('#myCanvas').tagcanvas("tagtofront", {
                            'id': id,
                            active: true,
                            time: 500,
                            callback: function () {
                                $('#' + id).removeAttr('id');
                            }
                        });
                        if (idsToMove.length > 0) {
                            setTimeout(moveUpdatedTagToFront, 1500);
                        }
                    }

                    setTimeout(moveUpdatedTagToFront, 100);

                    $('.profile-add-tag-input').val(null).trigger("change");
                } else {
                    $.bootstrapGrowl("Oops, " + response['message'], {align: 'center', 'type': 'warning'});
                }
            });
        });

        $("#likeFriendCloudBtn").click(function () {
            if ($(this).hasClass('likeFriendCloudBtn-normal')) {
                FB.ui({
                    method: 'share_open_graph',
                    action_type: 'og.likes',
                    action_properties: JSON.stringify({
                        object: 'https://taaag.sshz.org/tag_cloud/{{ friend.id }}',
                    })
                }, function (response) {
                    $.get('/api/like_friend', {
                        likee: '{{ friend.id }}',
                        event_id: response['post_id']
                    }, function (response) {
                        if (response['succeed']) {
                            $('#likeFriendCloudBtn').removeClass('likeFriendCloudBtn-normal').
                                    addClass('likeFriendCloudBtn-liked');
                            $.bootstrapGrowl("Successfully liked this cloud", {align: 'center', 'type': 'success'});
                        } else {
                            $.bootstrapGrowl("Oops, " + response['message'], {align: 'center', 'type': 'danger'});
                        }
                    });
                });
            } else {
                $('.spinner-overlay').show();
                $.get('/api/unlike_friend', {likee: '{{ friend.id }}'}, function (response) {
                    if (response['succeed']) {
                        FB.api(
                                response['response'],
                                'delete',
                                function (response) {
                                    $('.spinner-overlay').hide();
                                    $.bootstrapGrowl("Unliked this cloud", {align: 'center', 'type': 'success'});
                                    $('#likeFriendCloudBtn').removeClass('likeFriendCloudBtn-liked').
                                            addClass('likeFriendCloudBtn-normal');
                                }
                        );
                    } else {
                        $('.spinner-overlay').hide();
                        $.bootstrapGrowl("Oops, " + response['message'], {align: 'center', 'type': 'danger'});
                    }
                });
            }

        });
    })
</script>
{% if friend.id == 0 %}
    {% set user_image = '/static/images/poo-head-s.png' %}
{% else %}
    {% set user_image = 'https://graph.facebook.com/' ~ friend.id ~ '/picture?type=normal' %}
{% endif %}
{% include 'tag_cloud.html' %}
