<div class="row tagrank">
    <img class="profile-taglist-img" src="https://graph.facebook.com/{{ user.id }}/picture?type=large"></img>
</div>
<div class="row tagrank">

    <div class="profile-taglist">
        <table class="table profile-taglist-table">
            {% for key, value in tags.items() %}
                <tr class="my-tag-set">
                    <th class="col-sm-1"><p class="mytaglist-delete-btn">x</p></th>
                    <th class="col-sm-2">
                        <div class="mytag-upvote-circle"><p class="mytag-upvote-num">{{ value|length }}</div>
                    </th>
                    <th class="col-sm-5"><p class="mytag-tagname-font">{{ key }}</p></th>
                    <th class="col-sm-4">
                        <div class="mytag-img"></div>
                    </th>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>

<script>
$(function(){
    $('.mytaglist-detete-btn').on('click',function(){

         alert("lolololoo");
    });
});
</script>
