<script>
    $(function () {
        $('.tagrank-set').click(function () {
            $(document).trigger("viewChanging", ["friend", {'id': $(this).data('uid')}]);
        });
    });
</script>

<div class="row tagrank">
    <div class="tagrank-input">#{{ tag }}</div>
</div>
<div class="row tagrank">
    <div class="tagrank-chart">
        <table class = "tagchart-table table table-hover table-condensed">
        {% for taggee in taggees %}
            <tr style = "" class="row tagrank-set" data-uid="{{ taggee.id }}">
                <th class="col-sm-2"><img class="tagrank-img" src="https://graph.facebook.com/{{ taggee.id }}/picture"></th>
                <th class="col-sm-7"><p class="tagrank-ranknum">{{ taggee.name }}</p></th>
                <th class="col-sm-5">
                    <div class="tagrank-upvote-circle"><p class="tagrank-upvote-num">{{ taggee.count }}</div>
                </th>
            </tr>
        {% endfor %}
    </table>
    <div>
</div>
