<div id='manage-photo' class="row tagrank">
    <img class="profile-taglist-img" src="https://graph.facebook.com/{{ user.id }}/picture?type=large">
</div>
<div class="row tagrank">
    <ul class="nav nav-tabs" id="taglist-tab">
        <li role="presentation" id="tab-votes"><a href="#">Top</a></li>
        <li role="presentation" id="tab-time"><a href="#">Recent</a></li>
    </ul>
    <div class="profile-taglist">
        <table class="table profile-taglist-table" id="taglist-table-votes">
            <tbody id="tag-votes-table">
            {% for tag in tags_order_by_votes %}
                <tr class="my-tag-set" data-name="{{ tag.name }}">
                    <th class="th-detele-btn">
                        <div class="mytaglist-delete-btn"><i class="fa fa-trash-o"></i></div>
                    </th>
                    <th class="col-sm-1 th-upvote-num">
                        <div class="mytag-upvote-circle"><p class="mytag-upvote-num">{{ tag.votes }}</div>
                    </th>
                    <th class="col-sm-6 taglist-th-tn"><p class="mytag-tagname-font">{{ tag.name }}</p></th>
                    <th class="col-sm-4">
                        {% for tagger in tag_with_taggers[tag.name][0:4]|reverse %}
                            <div class="mytag-img th-mytag-img" data-uid="{{ tagger.id }}" title="{{ tagger.name }}">
                                {% if tagger.id == '0' %}
                                    <img class="voter-img" src="/static/images/poo-head.png">
                                {% else %}
                                    <img class="voter-img" src="https://graph.facebook.com/{{ tagger.id }}/picture">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </th>
                    <th class="th-mytag-viewmore">
                        <span class="span-viewmore"><i
                                class="fa fa-caret-right"></i></span>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table profile-taglist-table" id="taglist-table-time" style="display: none">
            <tbody id="tag-votes-table">
            {% for tag in tags_order_by_time %}
                <tr class="my-tag-set" data-name="{{ tag.name }}">
                    <th class="th-detele-btn">
                        <div class="mytaglist-delete-btn"><i class="fa fa-trash-o"></i></div>
                    </th>
                    <th class="col-sm-1 th-upvote-num"><p class="mytag-upvote-num"></p></th>
                    <th class="col-sm-6 taglist-th-tn"><p class="mytag-tagname-font">{{ tag.name }}</p></th>
                    <th class="col-sm-4 tag-created-time">{{ tag.created_time }}</th>
                    <th class="th-mytag-viewmore"><span class="span-viewmore"><i class="fa fa-caret-right"></i></span></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<div class="row tagrank">
    <button id="manage-to-view-btn">Check out your tag cloud!</button>
</div>

<script>
    $(function () {
        function deleteTag(tag) {
            $.get('/api/delete_tag', {name: tag}, function (response) {
                if (response['succeed']) {
                    $.bootstrapGrowl("Successfully removed " + tag, {align: 'center', 'type': 'success'});
                    $('.my-tag-set[data-name="' + tag + '"]').remove();
                } else {
                    $.bootstrapGrowl("Oops, " + response['message'], {align: 'center', 'type': 'warning'});
                }
            });
        }

        var tagger_array = {{ tag_with_taggers|tojson|safe }};

        $('.th-mytag-viewmore').click(function () {
            var tag = $(this).closest('tr').find('.mytag-tagname-font').text();
            var taggers = tagger_array[tag];
            var msg = '<table><tbody>';
            $.each(taggers, function (index, tagger) {
                var img_url = '/static/images/poo-head.png';
                if (tagger.id > 0)
                    img_url = 'https://graph.facebook.com/' + tagger.id + '/picture';
                msg += '<tr class="dialog-set" data-uid="' + tagger.id + '"><td class="col-sm-2"><img class="dialog-img" ' +
                        'src="' + img_url + '"></td><td class="col-sm-10"><p class="dialog-name">' + tagger.name +
                        '</p></td></tr>';
            });
            msg += '</tbody></table>';
            BootstrapDialog.show({
                title: '<p class = "dialog-title">' + taggers.length + ' people have upvoted ' + $('<div>').text(tag).html() + ' </p>',
                message: msg,
                type: 'none',
                closable: true,
                closeByBackdrop: true,
                size: BootstrapDialog.SIZE_SMALL,
                cssClass: 'upvoteList-dialog'
            });
        });

        $('.mytag-img').click(function () {
            $(document).trigger("viewChanging", ["friend", {'id': $(this).data('uid')}]);
        });

        $('.mytaglist-delete-btn').click(function () {
            var tag = $(this).closest('tr').find('.mytag-tagname-font').text();
            BootstrapDialog.confirm({
                title: 'Delete',
                type: 'none',
                message: "<h4> Are you sure to delete " + $('<div>').text(tag).html() + "? </h4>",
                size: BootstrapDialog.SIZE_SMALL,
                closable: true,
                closeByBackdrop: true,
                callback: function (result) {
                    if (result) {
                        deleteTag(tag);
                    }
                }
            });
        });

        $('#tab-time').click(function () {
            $(this).addClass('tab-selected');
            $('#tab-votes').removeClass('tab-selected');
            $('#taglist-table-votes').hide();
            $('#taglist-table-time').show();
        });
        $('#tab-votes').click(function () {
            $(this).addClass('tab-selected');
            $('#tab-time').removeClass('tab-selected');
            $('#taglist-table-time').hide();
            $('#taglist-table-votes').show();
        });

        $('#manage-to-view-btn').click(function () {
            $(document).trigger("viewChanging", ["me", {}]);
        });

        $(".mytag-img").tooltip({placement: "bottom", container: "body"});
        {#        $('#tab-votes').trigger("active");#}
    });


</script>
