<div id="view-friends" class="view">
    <div class="row">
        <div id = "friendlist-title">Friends List</div>
        {#        <input class="friendlist-input" placeholder="Search Your Friends..."> </input>#}
    </div>
    <div class="row">
        <div class="friendlist-box">
            <table>
                <tbody>
                {% for friend_row in friends|batch(3) %}
                    <tr>
                        {% for friend in friend_row %}
                            <td>
                                <img title = "{{friend.name}}"class="friendlist-friend" src="https://graph.facebook.com/{{ friend.id }}/picture?type=large"></img>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>